

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-6">

        <div id="sampleComponent"></div>

        <h2>My Account</h2>
        <div>
            You have <span id="balance" class="h4"></span> Wiwi<br/>
            in <span id='current-account'><span>
        </div>

        <h2>Send WiwiCoin</h2>

        <form>

          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" placeholder="e.g., 95">
          </div>
          <div class="form-group">
            <label for="receiver">To address</label>
            <input type="text" class="form-control" id="receiver" placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae">
          </div>

          <button id="send" class="btn btn-primary" onclick="HomeApp.sendCoin()">Send WiwiCoin</button>
          <span id="status"></span>

      </form>


    </div>

    <div class="col-xs-12 col-sm-6">
        <h2>Account List</h2>
        <ul id='account-list'></ul>
    </div>
  </div>

</div>


{{#contentFor "footerScripts"}}

  <script src='/js/wcoin.js'></script>
{{/contentFor}}
