

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-6">

        <h2>View Account</h2>
        <div>
            <span id="balance" class="h4"></span> Wiwi<br/>
            in <span id='current-account'>{{account}}<span>
        </div>

    </div>

    <div class="col-xs-12 col-sm-6">

    </div>
  </div>

</div>


{{#contentFor "footerScripts"}}
  <script src='/js/viewAccount.js'></script>
{{/contentFor}}
